.nav-enlace{
    display: inline-block;
    background-color: salmon;
    color: white;
    padding:10px 30px ;
    text-decoration: none;
}

.nav-enlace:HOVER{
background-color:rosybrown;
}
nav{
    background-color: rebeccapurple;
    padding:10px ;
    display: flex;
    justify-content:space-between ;
}
.nav-boton{
    background-color: salmon;
    color: #fff;
    padding:10px 0;
    border:2px solid #fff ;
    display: none;
}

@media(max-width: 600px){
nav{
    background-color: black;
    flex-direction: column;
}
.nav-enlace{
    margin:10px 0px ;
}
.nav-boton{
 display:inline-block ;
}
.desaparecer{
    display:none ;
}
}