body {
  font-family: "Lato", sans-serif;
}
h2 {
  font-weight: 100;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.columna { 
  background: rgb(147, 158, 43);
  color: #cf2121;
  border: 1px solid #cf2121;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #170224;
  width: 23%;
  box-sizing: border-box;
}
.precio {
  font-size: 50px;
  color: rgb(167, 69, 12);
}
.btn-precio {
  background: rgb(148, 81, 74);
  display: block;
  padding: 10px;
  color: #f7ab09;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn-precio:hover {
  background: rgb(69, 10, 230);
}
@media(max-width: 1070px) {
  .columna {
    width: 45%;
    margin-bottom: 20px;
  }
}
@media(max-width: 600px) {
  .columna {
    width: 100%;
    margin-bottom: 20px;
  }
}